<div class="footer wrapper">
	<nav class="nav">
		<div>{{ with .Site.Copyright }} {{ . }} | {{ end }} <a href="https://github.com/vividvilla/ezhil">Ezhil theme</a> | Built with <a href="https://gohugo.io">Hugo</a> - <a rel="me" href="https://fosstodon.org/@clmbmb">I'm on Mastodon</a></div>
	</nav>
</div>

{{ if not .Site.IsServer }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}
{{- with .Site.Params.Social -}}
<script>feather.replace()</script>
{{- end -}}
